*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

    /* <!-- ====================== * Navbar * ================================= --> */

.header{
    background-color: #f7f8f9;
    box-shadow: 0 0 2px gray;
    position: sticky;
    top: 0%;
}

.navbar{
    display: flex;
    align-items: center;
    width: 1300px;
    margin: auto;
}

.navbar img{
    width: 70px;
}

.country_select{
    width: 250px;
    margin-left: 70px;
}

.select i{
    font-size: 15px;
    transition: all 0.3s;
}

.select{
    width: 100%;
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black
}

.option{
    display: flex;
    padding: 10px;
    width: 250px;
    cursor: pointer;
}

.option:hover{
    background-color: #c7dcff;

}

.option p{
    margin-left: 10px;
    color: #444444;
}

.option i{
    color: #839a9c;
}

.option_box{
    box-shadow: 0 0 10px gray;
    background-color: white;
    display: none; 
    position:absolute;
    top: 60px;
    

}

.hidden{
    display: block;
}

.rotate{
    transform: rotate(180deg);
}

.search_box{
    display: flex;
    margin-left: 30px;
}

.search_box i{
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 15px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.searchClass{
    padding: 10px;
    width: 400px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 6px 0 0 6px;
}

#eng_tag{
    cursor: pointer;
    font-size: 20px;
    margin-left: 25px;
}

.hin_eng{
    box-shadow: 0 0 10px gray;
    background-color: white;
    width: 130px;
    display: none;
    position:absolute;
    top: 60px;
}

.hin_eng li{
    list-style: none;
    padding: 10px 20px;
    margin-top: 10px;
}

.hin_eng li:hover{
    background-color: #c7dcff;

}

.display_lang{
    display: block;
}

.message i{
    font-size: 22px;
    cursor: pointer;
    margin-left: 25px;
    /* display: inline-block; */
}

.girl_img img{
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 55px;
    
}

.nameAndImg img{
    width: 65px;
    border-radius: 50%;

}

.nameAndImg p{
    font-size: 18px;
    font-weight: bold;
}

.nameAndImg{
    display: flex;
    align-items: center;
    margin: 10px 5px 20px 0;
}

.dropdown{
    width: 250px;
    box-shadow: 0 0 10px grey;
    padding: 15px;
    background-color: white;
    display: none;
    position:absolute;
    top: 60px;
}

.dropdown ul li{
    display: flex;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.dropdown ul li:hover{
    background-color: #c7dcff;
}

.dropdown ul{
    margin-top: 20px;
}

.dropdown ul li i{
    font-size: 17px;
    color: black;
}

.dropdown ul li p{
    margin-left: 10px;
    font-size: 17px;
}

.block_div{
    display: block;
}

.sellingPage button{
    margin-left: 25px;
    border-style: solid;
    border-width: 5px;
    border-top-color:aqua;
    border-left-color: yellow;
    border-right-color: #3a77ff;
    border-bottom-color: #3a77ff;
    border-radius: 30px;
    font-size: 13px;
    cursor: pointer;    
    padding: 6px 12px;
    background-color: white;
    color: black;
    display: flex;
}

    /* <!-- ====================== * Advertisement 1 * ================================= --> */

.advImg img{
    width: 800px;
    position: relative;
    z-index: -1;
}   

.advImg{
    width: 800px;
    margin: auto;
    margin-top: 35px;
    height: 200px;
    position: relative;
}

.advImg i{
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 1;
    cursor: pointer;
}


    /* <!-- ====================== * Products * ================================= --> */

.first_row{
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    margin: auto;
    margin-top: 55px;
}

.box img{
    width: 250px;
}

.box{
    border: 1px solid rgb(197, 196, 196);
    width: 260px;
    height: 230px;
    cursor: pointer;

}

.box:hover{
    border: 1px solid rgb(138, 137, 136);
}

.box a{
    text-decoration: none;
    color: black;
}

.box h2{
    padding: 5px 0 0 20px;  
}

.box p{
    padding: 0 0 10px 20px;
    color: #678a94;
    font-size: 14px;
}

.adress_data{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}

.adress_data p{
    font-size: 12px;
    margin-right: 10px;

}

    /* <!-- ====================== * Load More * ================================= --> */


.load_more button{
    font-weight: bolder;
    margin: 50px auto;
    padding: 10px 16px;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    font-size: medium;
    display: block;
    transition: all 5ms;
}


.load_more button:hover{
    border: 4px solid black;
}

#load_more_products_id{
    display: none;
}

    /* <!-- ====================== * Advertisement 2 * ================================= --> */


.adv_Img2{
    width: 800px;
    margin: auto;
    margin-top: 35px;
    height: 200px;
    position: relative;
    z-index: -1;
}

.adv_Img2 img{
    width: 800px;
    position: relative;
    z-index: 1;
    border: 1px solid black;
}

.adv_Img2 i{
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 2;
    cursor: pointer;
}

    /* <!-- ====================== * Download App * ================================= --> */

.download_app{
    background-color: #f7f8f9;
}
.download{
    margin: 100px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imges{
    width: 400px;
}

.text{
    border-right: 2px solid #cacdce;
}

.text h1{
    padding: 20px 20px 10px 20px;
    font-size: 35px;
}

.text p{
    padding: 10px 20px 20px 20px;
    font-size: 20px;
}

.download_store p{
    padding: 20px 20px 20px 0;
    font-weight: bold;
    font-size: 17px;
}

.download_store{
    padding-left: 30px;
}

.download_store img{
    width: 150px;
    padding-left: 20px;
    cursor: pointer;
}

    /* <!-- ====================== * Footer * ================================= --> */

.main_footer{
    background-color: #EBEEEF;
}   

.footer{
    display:flex;
    align-items:flex-start;
    justify-content: space-evenly;
    width: 1200px;
    margin:auto;
    margin-left: 5px;

}

.footer_box h4{
    font-size: 14px;
    margin: 10px 0 15px 0;
    cursor: pointer;
}

.footer_box p{
    margin: 8px 0 8px 0;
    cursor: pointer;
    opacity: 0.5;
    font-size: small;
}